{% extends 'base.html.twig' %}

{% block title %}Hello AccueilController!{% endblock %}

{% block body %}

  

<div class="container-fluid text-center my-5">
    <div class="row mx-auto my-auto justify-content-center">
        <div id="recipeCarousel" class="carousel slide" {# data-bs-ride="carousel" <= cette classe sert a activer un défilement auto du carousel #}> 
            <div class="carousel-inner" role="listbox">
                <div class="carousel-item active">
                    <div class="col-md-3 ">
                        <div class="card">
                            <div class="card-img ">
                                <img src="{{asset('images/headphonePub.webp')}}" class="img-fluid ">
                            </div>
                            <div class="card-img-overlay"></div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="col-md-3 ">
                        <div class="card">
                            <div class="card-img">
                                <img src="{{asset('images/stage_piano_Pub.webp')}}" class="img-fluid">
                            </div>
                            <div class="card-img-overlay"></div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="col-md-3 ">
                        <div class="card">
                            <div class="card-img">
                                <img src="{{asset('images/milleniumPub.webp')}}" class="img-fluid">
                            </div>
                            <div class="card-img-overlay"></div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="col-md-3 ">
                        <div class="card">
                            <div class="card-img">
                                <img src="{{asset('images/neuralPub.webp')}}" class="img-fluid">
                            </div>
                            <div class="card-img-overlay"></div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="col-md-3 ">
                        <div class="card">
                            <div class="card-img">
                                <img src="{{asset('images/best_of_lightPub.webp')}}" class="img-fluid">
                            </div>
                            <div class="card-img-overlay"></div>
                        </div>
                    </div>
                </div>
                {# <div class="carousel-item">
                    <div class="col-md-3">
                        <div class="card">
                            <div class="card-img">
                                <img src="//via.placeholder.com/500x400/fc0?text=6" class="img-fluid">
                            </div>
                            <div class="card-img-overlay">Slide 6</div>
                        </div>
                    </div>
                </div> #}
            </div>
            <div class="text-center">
            <a class="carou carousel-control-prev w-aut " href="#recipeCarousel" role="button" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            </a>
            </div>
            <a class="carou carousel-control-next  w-aut" href="#recipeCarousel" role="button" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
            </a>
        </div>
    </div>
</div>

<h1 class="text-center my-5"> Nos Catégories </h1>

<div class="container">
    <div class="row ">
{% for categorie in categories %}
        <div class="col-12 col-sm-6 col-md-5 col-lg-4 text-center  border-bottom d-flex" >
            <a href="/sous_categorie/{{ categorie.id }}">
                <img src="/images/{{ categorie.image }}"> 
                    {{ categorie.nom }}
                </img>
            </a>
        </div>
{% endfor %}
    </div>
</div>


{% endblock %}
